@model IEnumerable<MasteryBlog2.Model.Blog>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Bro's Blog Site</title>
    <link rel="stylesheet" href="~/Styles/Style.css" />
</head>
<body>
    <h1>Book Bro's Blogs</h1>
    <div id="Intro">
        <p>Welcome to the Page thats all about books of all kinds!!</p>
        <p>Check out all the latest opinions below!! click on it to see what the </p>

    </div>
    <div id="blog">
        @foreach (var blog in Model)
        {
        <article>

            <div class="flex-container">
                <div class="card">
                    <div>
                        <h2>@blog.Title</h2>
                        <p>
                            By blogger: @blog.Reviewer<img class="blogIMG" img src="@blog.Image" />
                        </p>
                    </div>
                    <div>
                        <p><span> @blog.Body</span></p>
                    </div>
                </div>
            </div>
            <p><div id="date/time"> Left at @blog.DateTime</div></p>

            <p><a class="butn" href="/blog/Delete/@blog.Id"><input type="submit" value="Delete Review" class="btn btn-default" /></a></p>

        </article>

        }

    </div>
    <p>Let us know what your reading and your opinions by clicking a link!!!</p>

    <nav>
        <a href="/Blog/Index">HomePage</a>
        <a href="/Category/index">Category</a>
        <a href="/Tag/Index">Tags</a>
        <a href="/Blog/Create">Create a BLOG!!!</a>
        <a href="/Blog/edit">Edit/Delete</a>    
    </nav>

    <footer>
        &copy; 2019 Book Bro's Blog
    </footer>

</body>
</html>
